[submodule "ImGuizmo.NET"]
	path = ImGuizmo.NET
	url = https://github.com/MeowZWR/ImGuizmo.NET.git
	branch = trunk
[submodule "GLib"]
	path = GLib
	url = https://github.com/MeowZWR/GLib.git
	branch = main
